body{
    background-color: black;
}
.contend{
    position: absolute;
    background-color: white;
    top:8%;
    height: 81%;
    width: 28%;
    left:36%;
    margin:auto;
}
.icon{
    font-size: 28px;
    color: black;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 1px;
}
img{
    width: 100%;
    height: auto;
    margin-top: 13px;
    
}
 .secondIcon{  
    font-size: 28px;
    color: black;
    margin-right: 1px;
    
}
.thirdIcond{
    font-size: 28px;
    color: black;
    margin-right: 1px;
} 
.fourthIcond{
    font-size: 28px;
    color: black;
    margin-left: 236px;

}
.footer{
    font-size: 12px;
    margin-left: 10px;
    font-family: sans-serif;
}
.sIcon{
    font-size: 25px;
    color: black;
    margin-left: 10px;
    margin-top: 10px;
}
 .tIcond{
    position: relative;
    margin-left: 330px;
    font-size: 25px;
} 
.paragraph{
    font-family: sans-serif;
    font-size: 12px;
    position: absolute;
    left: 32px;
    top: 0px;
}
.paragraphTwo{
    font-family: sans-serif;
    font-size: 11px;
    position: absolute;
    left: 32px;
    top: 17px;
}
